<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>240143653994-7ltj4fu0mo8eu833vj8es1odnskulttm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.240143653994-7ltj4fu0mo8eu833vj8es1odnskulttm</string>
	<key>API_KEY</key>
	<string>AIzaSyAkevSf-XZpHY5n7XBZ1bNCi549ohKPqns</string>
	<key>GCM_SENDER_ID</key>
	<string>240143653994</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.babyNames</string>
	<key>PROJECT_ID</key>
	<string>baby-names-68953</string>
	<key>STORAGE_BUCKET</key>
	<string>baby-names-68953.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:240143653994:ios:645894c9f37c515ecd3e13</string>
	<key>DATABASE_URL</key>
	<string>https://baby-names-68953.firebaseio.com</string>
</dict>
</plist>