<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>147343759581-65p336liuk2idl9ble122uup1g28dlvn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.147343759581-65p336liuk2idl9ble122uup1g28dlvn</string>
	<key>API_KEY</key>
	<string>AIzaSyBwUuDLEX-dG-WBkZkxAe6AHjqcp_KagFY</string>
	<key>GCM_SENDER_ID</key>
	<string>147343759581</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.listeDeCourse</string>
	<key>PROJECT_ID</key>
	<string>liste-de-course-7fd91</string>
	<key>STORAGE_BUCKET</key>
	<string>liste-de-course-7fd91.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:147343759581:ios:836414c80f09f9f815e334</string>
	<key>DATABASE_URL</key>
	<string>https://liste-de-course-7fd91.firebaseio.com</string>
</dict>
</plist>